html {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
body {
  ine-height: 1.4;
}

/* Site Container */

.container {
  width: 960px;
  margin: 0 auto;
}

/* Upper-Half Background Container */

.upperHalf {
  background-image: url("../../resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 30rem;
}

/* Banner Container */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  margin: 0 auto;
  padding: 0 2rem;
  color: white;
  font-size: 1rem;
}

/* Logo Image & Text */
.logo {
  display: flex;
  align-items: center;
}

.banner img {
  height: 1.5rem;
  padding-right: 1rem;
}

.banner p {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p.hidden {
  display: none;
}

nav p {
  padding-left: 2rem;
}

/* Textbox Section */

.weirdTextBox {
  position: relative;
  top: 12rem;
  left: 30rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-block;
}

/* Icons */

.icons {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 3rem;
  width: 5rem;
  text-align: center;
}

.icon p {
  font-size: 1rem;
}

.icon img {
  width: 3.5rem;
  height: auto;
  margin: 0 auto;
}

/* Info Boxes */

.infoBoxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
}
.infoBox {
  width: 35%;
  margin: 0 2.5%;
}
.heading {
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  width: 10rem;
  margin-bottom: 1rem;
}

/* Footer */

.footerContent {
  background-color: azure;
}
.logoAndText {
  display: flex;
  padding: 4rem;
}
.logoAndText img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .banner {
    top: 0;
  }
  .upperHalf {
    height: 22rem;
    width: auto;
  }
  .weirdTextBox {
    top: 5rem;
    left: 25rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
  .weirdTextBox p {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    width: 100%;
  }
  .upperHalf {
    height: 17rem;
    width: auto;
  }
  .weirdTextBox {
    top: 9rem;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
  }
  .container {
    width: 100%;
  }
  .banner p {
    display: none;
  }
  p.hidden {
    display: inline-block;
  }
  .icons, .infoBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .icon {
    margin-top: 1.54rem;
  }
  .heading {
    text-align: center;
    width: 100%;
  }
  .infoBox {
    width: 100%;
    margin-bottom: 4rem;
  }
}
